/* @override http://tonyarnold.local/extensions/ckeditor/assets/symphony.ckeditor.css */

label div.cke_toolbox span {
	display:inline;
}

/* Fix for Symphony 2.2: */
table.cke_editor td, table.cke_dialog td {
	padding-left: 0;
}

/* Fixes for Symphony 2.3 & CKEditor 4 */
table.cke_dialog .cke_dialog_contents .cke_dialog_contents_body > div > table > tbody > tr > td {
	padding-left: 10px;
}